[data-main] {
  padding: 16px;
}

[data-main].loading {
  display: flex;
  position: absolute;
  inset: 0;
}

[data-main] .spin {
  margin: auto;
}

[data-main] .counter {
  margin: 0 1rem;
}
